---
interface Props {
  Content: any;
  id: string;
}

import Section from "../Section.astro";
import PropSection from "./cases/Section.astro";
const { Content, id } = Astro.props;
---

<Section {id} hasIntro elementType="section">
  <Content components={{ section: PropSection }} />
</Section>

<style>
  > :global(p:first-of-type) {
    max-inline-size: var(--size-lg);
    margin-inline: auto;
  }
</style>
