---
---

<h1>
  <slot />
</h1>

<style>
  h1 {
    padding-block: var(--size-9);
    color: var(--foregroundColor, #fff);
    text-align: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-2);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--font-lineheight-3);
    letter-spacing: var(--font-letterspacing-2);
  }
</style>
