---
import Section from "../Section.astro";
import PrincipleSection from "./principles/Section.astro";
import Graph from "./principles/Graph.astro";
import GraphLabel from "./principles/GraphLabel.astro";
const { Content, slug } = Astro.props;
---

<Section id={slug} hasIntro elementType="section" backgroundColor="purp" foregroundColor="white">
  <Content components={{ section: PrincipleSection, ul: Graph, li: GraphLabel }} />
</Section>

<style>
  > * {
    padding-inline: var(--size-7);
  }
</style>
