---
interface Props {
  children: any;
}
---

<li><slot /></li>

<style>
  li {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 150px;
    padding: 0;
    margin: 0;
  }

  li :global(em) {
    font-style: normal;
  }

  li {
    color: var(--sun);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-8);
  }

  li:nth-child(1) {
    top: -17%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  li:nth-child(2) {
    top: 25%;
    left: 125%;
    transform: translate(-50%, -50%);
  }

  li:nth-child(3) {
    top: 25%;
    left: -25%;
    transform: translate(-50%, -50%);
  }

  li:nth-child(4) {
    top: 100%;
    left: 110%;
    transform: translate(-50%, -50%);
  }

  li:nth-child(5) {
    top: 100%;
    left: -10%;
    transform: translate(-50%, -50%);
  }
</style>
