---
const props = Astro.props;
const rank = Number(props["data-heading-rank"]);
---

<section class:list={[rank === 2 && "container"]}><slot /></section>

<style>
  .container {
    flex-direction: column;
    display: flex;
    align-items: center;
    :global(h2) {
      display: none;
    }
  }
</style>
