---
import Base from "../../layouts/base.astro";
import Header from "../../components/Header.svelte";
import { getCollection, getEntry } from "astro:content";
const entries = await getCollection("Posts");
---

<Base>
  <ul>
    {
      entries.map(({ data, slug }) => (
        <li>
          <a href={`/posts/${slug}`} id={data.title}>
            {data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Base>
