@import "@fontsource/londrina-solid/300.css";
@import "@fontsource/montserrat-alternates/400.css";
@import "@fontsource/alata";
@import "@fontsource/montserrat-alternates/700.css";
@import "@fontsource/montserrat-alternates/900.css";

:root {
  --sun: #f9a505;
  --purp: #773670;
  --curtains: #2e0016;
  --dark: #0f0d0d;
  --white: #ffffff;
  --fire: #e14616;
  --text-color: var(--white);
  --negative-text-color: var(--curtains);
  --background-color: var(--curtains);
  --primary-color: var(--sun);
  --secondary-color: var(--purp);
  --tertiary-color: var(--fire);
}

html,
body {
  --font-accent: "Montserrat Alternates", sans-serif;
  --font-menu: "Londrina Solid", sans-serif;
  --font-sans: "Alata", sans-serif;
  height: 100%;
  background-color: var(--background-color);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-7);
}

p {
  font-family: var(--font-sans);
  color: var(--text-color);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  text-align: left;
  line-height: var(--font-lineheight-3);
}

strong {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-7);
}

a {
  color: var(--secondary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover {
  text-decoration: none;
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}
