@import "@fontsource/londrina-solid/300.css";
@import "@fontsource/montserrat-alternates/400.css";
@import "@fontsource/montserrat-alternates/700.css";
@import "@fontsource/montserrat-alternates/900.css";

:root {
  --sun: #f9a505;
  --purp: #773670;
  --curtains: #2e0016;
  --dark: #0f0d0d;
  --white: #ffffff;
  --fire: #e14616;
}

html,
body {
  --font-sans: "Montserrat Alternates", sans-serif;
  --font-accent: "Londrina Solid", sans-serif;
  height: 100%;
  background-color: var(--curtains);
  font-family: var(--font-sans);
}

a {
  color: var(--purp);
}
a:visited {
  color: var(--purp);
}

a:hover {
  text-decoration: none;
  color: var(--white);
}

.is-container > * {
  max-inline-size: var(--size-lg);
  margin-inline: auto;
  padding-inline: var(--size-7);
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

.has-quote,
.has-quote {
  p {
    padding-block: var(--size-9);
    color: var(--white, #fff);
    text-align: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-2);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--font-lineheight-3);
    letter-spacing: var(--font-letterspacing-2);
  }
}

section.with-intro {
  > p:first-of-type,
  > p:nth-of-type(2) {
    grid-column: span 4;
    text-align: center;
    line-height: var(--font-lineheight-2);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-9);
  }
  > p:last-of-type::after {
    display: block;
    content: "..";
    line-height: 0.5;
    font-size: var(--font-size-8);
    letter-spacing: var(--font-letterspacing-4);
  }

  > p:last-of-type {
    padding-block: var(--size-9);
  }
}
