---
interface Props {
  Content: any;
  id: string;
  index: number;
}
import Dots from "../dots.astro";
const { id, Content, index } = Astro.props;
---

<section {id}>
  <Dots top="35px" amount={index} position="initial" />
  <Content />
</section>

<style>
  section {
    padding-inline: var(--size-6);
    margin-block-start: var(--size-9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :global(p) {
      color: var(--text-color);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-7);
      margin-block-start: var(--size-3);
    }
  }
</style>
