---
interface Props {
  Content: any;
  id: string;
  index: number;
  backgroundColor?: string;
}
import Dots from "../dots.astro";
const { id, Content, index, backgroundColor } = Astro.props;
---

<section class="bubble" {id}>
  <Dots top="50px" amount={index} />
  <Content />
</section>

<style define:vars={{ backgroundColor }}>
  @import "open-props/media";
  section {
    background-color: var(--backgroundColor);
    position: relative;
    padding-block-start: var(--size-11);
    padding-block-end: var(--size-9);
    margin-block: var(--size-9);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding-inline: var(--size-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    :global(p),
    :global(ul),
    :global(li) {
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-4);
      text-align: left;
      color: var(--curtains);
    }
    &:before {
      content: "";
      position: absolute;
      background-color: transparent;
      height: 100px;
      width: 50px;
      left: 0;
      bottom: -100px;
      border-top-left-radius: 100px;
      box-shadow: 0 -50px 0 0 var(--backgroundColor);
    }

    &:after {
      content: "";
      position: absolute;
      background-color: transparent;
      height: 100px;
      width: 50px;
      right: 0;
      bottom: -100px;
      border-top-right-radius: 100px;
      box-shadow: 0 -50px 0 0 var(--backgroundColor);
    }
    :global(strong) {
      display: block;
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-7);
    }
    :global(ul),
    :global(li) {
      margin: 0;
      padding: 0;
      text-indent: 0;
      padding-inline-start: 1rem;
    }

    :global(ul) {
      padding-block-start: var(--size-5);
    }
  }
  @media (--md-n-above) {
    section {
      padding-block: var(--size-9);
      padding-inline: var(--size-11);
      container-type: size;
      border-radius: 50%;
      overflow: hidden;
      margin: var(--size-2);
      aspect-ratio: 1/1;

      @container (width > 300px) {
        padding-inline: var(--size-10);
      }
    }
  }
</style>
