---
interface Props {
  Content: any;
  components?: any;
  id: string;
  index?: number;
}
import Dots from "../dots.astro";
const { id, Content, index, components } = Astro.props;
---

<section class="bubble" {id}>
  {index && <Dots top="50px" amount={index} />}
  <Content {components} />
</section>

<style>
  @import "open-props/media";
  section {
    background-color: var(--background-color);
    position: relative;
    container-type: size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: var(--size-2);
    aspect-ratio: 1/1;
    color: var(--white);
    padding: var(--size-9);

    :global(strong) {
      font-size: 1.5rem;
      display: block;
    }

    :global(ul) {
      padding-block-start: var(--size-5);
    }
    @media (--md-n-above) {
      padding: var(--size-10);
    }
  }
</style>
