---
interface Props {
  Content: any;
  id: string;
}
import ShoutOut from "../ShoutOut.astro";
const { id, Content, ...props } = Astro.props;
---

<section class="bubble" {id}>
  <Content />
</section>

<style>
  .bubble {
    background-color: var(--purp);
    position: relative;
    container-type: size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: var(--size-2);
    aspect-ratio: 1/1;
    color: var(--white);
    padding: var(--size-8);

    p,
    ul,
    li {
      color: var(--white);
      font-size: var(--font-size-1);
      text-align: left;
    }

    strong {
      display: block;
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-7);
    }
    ul,
    li {
      margin: 0;
      padding: 0;
      text-indent: 0;
      list-style-type: 0;
    }

    ul {
      padding-block-start: var(--size-5);
    }

    @container (width > 300px) {
      padding-inline: var(--size-10);
      p,
      ul,
      li {
        font-size: var(--font-size-3);
      }
      strong {
        font-size: var(--font-size-5);
      }
    }
  }
</style>
