---
interface Props {
  class: string;
  children: any;
}

const { class: className } = Astro.props;
---

<section class:list={[className]}>
  <slot />
</section>

<style>
  @import "open-props/media";
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-inline-size: var(--size-sm);
    justify-self: center;
    text-align: center;
    padding-inline: var(--size-8);
    padding-block: var(--size-5);
  }

  section :global(h3) {
    display: block;
    order: 1;
    padding-block: var(--size-6);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-8);
    max-width: 90%;
  }

  section :global(a),
  section :global(em) {
    color: var(--purp);
    font-style: normal;
  }

  section :global(a:hover) {
    color: var(--white);
  }

  section :global(p) {
    text-align: center;
    color: var(--text-color);
    text-wrap: balance;
    font-size: var(--font-size-3);
    order: 2;
  }
  @media (--md-n-above) {
    section :global(h3) {
      font-size: var(--font-size-5);
    }
    section :global(p) {
      font-size: var(--font-size-4);
    }
  }
</style>
