---
import Base from "../layouts/base.astro";
import { getCollection } from "astro:content";
const entries = await getCollection("About");
const rawSections = await Promise.all(
  entries
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (e) => {
      let x = await e.render();
      console.log(x);
      return { Content: x.Content, ...e };
    })
);
const [...sections] = rawSections;
---

<Base>
  <article>
    {
      sections.map(({ Content, data: { title }, ...rest }) => (
        <section id={title}>
          <Content />
        </section>
      ))
    }
  </article>
</Base>

<style>
  article {
    max-inline-size: var(--size-md);
    margin-inline: auto;
    padding-block: var(--padding-block, var(--size-10));
  }
</style>
