---
import About from "../layouts/about.astro";
import { getCollection } from "astro:content";
const entries = await getCollection("About");
const rawSections = await Promise.all(
  entries
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (e) => {
      return e.render();
    })
);
const [opening, background, context, flaws, conflict, problem] = rawSections;
---

<About>
  <header id="tagline" slot="hero">
    <hgroup class="has-quote is-container">
      <opening.Content />
    </hgroup>
  </header>
  <background.Content slot="one" />
  <context.Content slot="two" />
  <flaws.Content slot="three" />
  <conflict.Content slot="four" />
  <section class="has-quote is-container" slot="five">
    <problem.Content />
  </section>
</About>

<style>
  #tagline {
    hgroup.has-quote {
      :global(p a:visited) {
        color: var(--sun);
      }
    }
  }
</style>
