---
import Home from "../layouts/home.astro";
import "../styles/homepage/index.css";
import Section from "../components/Section.astro";
import ShoutOut from "../components/homepage/ShoutOut.astro";
import Proposition from "../components/homepage/Proposition.astro";
import Principles from "../components/homepage/Principles.astro";
import Cases from "../components/homepage/Cases.astro";
import { getCollection } from "astro:content";
const entries = await getCollection("Home");
const rawSections = await Promise.all(
  entries
    .sort((a, b) => a.data.order - b.data.order)
    .map(async ({ slug, render }, index) => {
      console.log(slug);
      const rendered = await render();
      return { slug, index, ...rendered };
    })
);
const [tagline, proposition, problem, principles, cases, cta] = rawSections;
---

<Home>
  <header slot="hero">
    <ShoutOut {...tagline} />
  </header>
  <Proposition {...proposition} slot={proposition.index} />
  <ShoutOut {...problem} slot={problem.index} backgroundColor="fire" />
  <Principles {...principles} slot={principles.index} />
  <Cases {...cases} slot={cases.index} />
  <Section id="call-to-action" slot="5">
    <cta.Content />
  </Section>
</Home>
