---
import Base from "../layouts/base.astro";
import Header from "../components/Header.svelte";
import Tagline from "../components/Tagline.svelte";
import Blob1 from "../components/blobs/Blob1.astro";
import Blob2 from "../components/blobs/Blob2.astro";
import "../styles/homepage/index.css";
import { getCollection, getEntry } from "astro:content";
const entries = await getCollection("Home");
const rawSections = await Promise.all(
  entries
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (e) => {
      return e.render();
    })
);
const [tagline, proposition, problem, ...sections] = rawSections;
---

<Base>
  <header id="tagline">
    <hgroup class="content quote">
      <tagline.Content />
    </hgroup>
  </header>
  <Blob1 />
  <section id="proposition">
    <div class="content">
      <proposition.Content />
    </div>
  </section>
  <Blob2 />
  <section id="problem">
    <div class="content quote">
      <problem.Content />
    </div>
  </section>
</Base>
