---
import Base from "../layouts/home.astro";
import "../styles/homepage/index.css";
import { getCollection } from "astro:content";
const entries = await getCollection("Home");
const rawSections = await Promise.all(
  entries
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (e) => {
      return e.render();
    })
);
const [tagline, proposition, problem, principles, cases, cta] = rawSections;
---

<Base>
  <header id="tagline" slot="hero">
    <hgroup class="content quote">
      <tagline.Content />
    </hgroup>
  </header>
  <section id="proposition" slot="one">
    <div class="content with-intro">
      <proposition.Content />
    </div>
  </section>
  <section id="problem" slot="two">
    <div class="content quote">
      <problem.Content />
    </div>
  </section>
  <section id="principles" slot="three">
    <div class="content with-intro">
      <principles.Content />
    </div>
  </section>
  <section id="cases" slot="four">
    <div class="content with-intro">
      <cases.Content />
    </div>
  </section>
  <section id="call-to-action" slot="five">
    <div class="content">
      <cta.Content />
    </div>
  </section>
</Base>
