---
import Home from "../layouts/home.astro";
import "../styles/homepage/index.css";
import { getCollection } from "astro:content";
const entries = await getCollection("Home");
const rawSections = await Promise.all(
  entries
    .sort((a, b) => a.data.order - b.data.order)
    .map(async (e) => {
      return e.render();
    })
);
const [tagline, proposition, problem, principles, cases, cta] = rawSections;
---

<Home>
  <header id="tagline" slot="hero">
    <hgroup class="has-quote is-container">
      <tagline.Content />
    </hgroup>
  </header>
  <section id="proposition" class="with-intro is-container" slot="one">
    <proposition.Content />
  </section>
  <section id="problem" class="has-quote is-container" slot="two">
    <problem.Content />
  </section>
  <section id="principles" class="with-intro is-container" slot="three">
    <principles.Content />
  </section>
  <section id="cases" class="with-intro is-container" slot="four">
    <cases.Content />
  </section>
  <section id="call-to-action" slot="five">
    <cta.Content />
  </section>
</Home>
