---
const { amount, top, color } = Astro.props;
---

<div class="dots">
  {Array.from({ length: amount }, () => <div class="dot" />)}
</div>

<style define:vars={{ top, color }}>
  .dots {
    position: absolute;
    top: var(--top, 35px);
    display: flex;
    gap: 10px;
  }

  .dot {
    background-color: var(--color, var(--curtains));
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 20px;
  }
</style>
