---
interface Props {
  color?: string;
  amount: number;
  top?: string;
  position?: "absolute" | "initial";
}

const { amount, top, color, position = "absolute" } = Astro.props;
---

<div class="dots">
  {Array.from({ length: amount }, () => <div class="dot" />)}
</div>

<style define:vars={{ top, color, position }}>
  .dots {
    position: var(--position);
    top: var(--top, 35px);
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .dot {
    background-color: var(--negative-text-color);
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 20px;
  }
</style>
