---
import Logo from "./Logo.astro";
---

<footer>
  <nav>
    <a href="/"><Logo /></a>
  </nav>
  <nav>
    <svg viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.5" width="57" height="58" rx="8" fill="#F9A505"></rect>
      <path
        d="M14.25 18.5812C14.25 17.6673 14.571 16.9133 15.2128 16.3193C15.8547 15.7252 16.6892 15.4282 17.7162 15.4282C18.7249 15.4282 19.541 15.7207 20.1646 16.3056C20.8065 16.9087 21.1274 17.6947 21.1274 18.6634C21.1274 19.5408 20.8156 20.2719 20.1921 20.8568C19.5502 21.46 18.7066 21.7616 17.6612 21.7616H17.6337C16.625 21.7616 15.8089 21.46 15.1853 20.8568C14.5618 20.2536 14.25 19.4951 14.25 18.5812ZM14.6076 42.5711V24.2565H20.7148V42.5711H14.6076ZM24.0985 42.5711H30.2056V32.3445C30.2056 31.7048 30.279 31.2113 30.4257 30.864C30.6824 30.2425 31.0722 29.717 31.5948 29.2875C32.1175 28.858 32.7732 28.6432 33.5618 28.6432C35.6158 28.6432 36.6429 30.0232 36.6429 32.7832V42.5711H42.75V32.0704C42.75 29.3652 42.1081 27.3135 40.8243 25.9152C39.5405 24.517 37.8441 23.8178 35.735 23.8178C33.3692 23.8178 31.5261 24.8323 30.2056 26.8611V26.916H30.1781L30.2056 26.8611V24.2565H24.0985C24.1351 24.8414 24.1535 26.66 24.1535 29.7125C24.1535 32.7649 24.1351 37.0511 24.0985 42.5711Z"
        fill="#2E0016"></path>
    </svg>
    <svg viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.5" width="57" height="58" rx="8" fill="#F9A505"></rect>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.25 29C14.25 23.3077 14.25 20.4615 15.6064 18.4115C16.2121 17.4961 16.9961 16.7121 17.9115 16.1064C19.9615 14.75 22.8077 14.75 28.5 14.75C34.1923 14.75 37.0385 14.75 39.0885 16.1064C40.0039 16.7121 40.7879 17.4961 41.3936 18.4115C42.75 20.4615 42.75 23.3077 42.75 29C42.75 34.6923 42.75 37.5385 41.3936 39.5885C40.7879 40.5039 40.0039 41.2879 39.0885 41.8936C37.0385 43.25 34.1923 43.25 28.5 43.25C22.8077 43.25 19.9615 43.25 17.9115 41.8936C16.9961 41.2879 16.2121 40.5039 15.6064 39.5885C14.25 37.5385 14.25 34.6923 14.25 29ZM35.8771 29.0004C35.8771 33.0748 32.5742 36.3778 28.4997 36.3778C24.4253 36.3778 21.1223 33.0748 21.1223 29.0004C21.1223 24.9259 24.4253 21.623 28.4997 21.623C32.5742 21.623 35.8771 24.9259 35.8771 29.0004ZM28.4997 33.8818C31.1957 33.8818 33.3812 31.6963 33.3812 29.0004C33.3812 26.3044 31.1957 24.1189 28.4997 24.1189C25.8038 24.1189 23.6183 26.3044 23.6183 29.0004C23.6183 31.6963 25.8038 33.8818 28.4997 33.8818ZM36.1685 22.9858C37.1259 22.9858 37.902 22.2097 37.902 21.2523C37.902 20.2949 37.1259 19.5188 36.1685 19.5188C35.2112 19.5188 34.4351 20.2949 34.4351 21.2523C34.4351 22.2097 35.2112 22.9858 36.1685 22.9858Z"
        fill="#2E0016"></path>
    </svg>
  </nav>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-around;
    padding-block: var(--size-9);
    margin-inline: auto;
  }
  svg {
    width: 100%;
    max-width: 100px;
  }
  nav {
    display: flex;
    gap: var(--size-5);
    height: 30px;
  }
</style>
