---
import Logo from "./Logo.astro";
---

<footer>
  <nav>
    <a href="/"><Logo /></a>
    <svg viewBox="0 0 106 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_201_148)">
        <path
          d="M17.0088 0.712291C17.149 0.712291 17.2761 0.765363 17.39 0.871508C17.5039 0.977654 17.5609 1.10149 17.5609 1.24302C17.5609 1.36685 17.5521 1.44646 17.5346 1.48184L12.2244 18.412C12.1719 18.6066 12.0579 18.7924 11.8827 18.9693C11.725 19.1108 11.4796 19.1816 11.1466 19.1816H6.94055C6.60757 19.1816 6.36222 19.1108 6.20449 18.9693C6.02924 18.8101 5.90656 18.6243 5.83646 18.412L0.552576 1.48184L0.5 1.24302C0.5 1.10149 0.552575 0.977654 0.657728 0.871508C0.780406 0.765363 0.920607 0.712291 1.07834 0.712291H4.49577C4.77618 0.712291 4.99524 0.783053 5.15297 0.924581C5.3107 1.0838 5.41585 1.24302 5.46843 1.40223L8.91215 12.919C8.91215 12.9898 8.95596 13.0251 9.04359 13.0251C9.11369 13.0251 9.14874 12.9898 9.14874 12.919L12.6188 1.40223C12.6889 1.17225 12.8115 0.999768 12.9868 0.884777C13.162 0.769785 13.3636 0.712291 13.5914 0.712291H17.0088ZM24.102 16.1116C24.0849 16.1091 24.0689 16.1064 24.054 16.1034C24.0736 16.1066 24.093 16.1104 24.1121 16.1147L24.102 16.1116ZM24.1121 16.1147C24.4014 16.1789 24.6405 16.352 24.8295 16.6341C25.0311 16.9348 25.053 17.2886 24.8952 17.6955L24.5272 18.7039C24.3695 19.0931 24.0716 19.2877 23.6334 19.2877H20.2423C20.1196 19.2877 19.9881 19.2346 19.8479 19.1285C19.7428 18.987 19.6902 18.8543 19.6902 18.7304C19.6902 18.6066 19.699 18.527 19.7165 18.4916L25.8153 1.56145C26.0081 1.04841 26.3586 0.791899 26.8668 0.791899H30.9415C31.4497 0.791899 31.8002 1.04841 31.993 1.56145L38.0918 18.4916C38.1093 18.527 38.1181 18.6066 38.1181 18.7304C38.1181 18.872 38.0611 19.0002 37.9472 19.1152C37.8333 19.2302 37.7062 19.2877 37.566 19.2877H34.1749C33.7368 19.2877 33.4388 19.0931 33.2811 18.7039L31.9141 14.9623C31.2832 15.21 30.6435 15.4134 29.9951 15.5726C29.3467 15.7318 28.7201 15.8513 28.1155 15.9309C27.5109 16.0105 26.9457 16.0635 26.4199 16.0901C25.8942 16.1166 25.4385 16.1299 25.053 16.1299H24.4352C24.297 16.1299 24.1859 16.1238 24.102 16.1116L24.1121 16.1147ZM26.5251 12.3352C27.0158 12.2998 27.524 12.2379 28.0498 12.1494C28.5055 12.0787 28.983 11.977 29.4825 11.8443C29.982 11.7116 30.4595 11.5214 30.9152 11.2737L28.891 5.43575L26.5251 12.3352ZM56.1867 19.2346H52.4801C51.9894 19.2346 51.6389 19.0047 51.4286 18.5447L48.7472 13.2374C48.5895 12.9544 48.3529 12.8128 48.0374 12.8128H44.5937C45.0318 12.8128 45.3779 12.9676 45.6321 13.2772C45.8862 13.5868 46.0132 13.9008 46.0132 14.2193V18.5978C46.0132 18.7924 45.9519 18.9427 45.8292 19.0489C45.7065 19.1727 45.5488 19.2346 45.356 19.2346H41.7546C41.5793 19.2346 41.426 19.1683 41.2946 19.0356C41.1631 18.9029 41.0974 18.757 41.0974 18.5978V3.04749C41.0974 2.39292 41.3252 1.84893 41.7809 1.4155C42.2365 0.982074 42.7711 0.765363 43.3844 0.765363H48.9575C49.9389 0.765363 50.8721 0.871507 51.7572 1.0838C52.6422 1.29609 53.4221 1.64106 54.0968 2.11872C54.7715 2.59637 55.3104 3.21997 55.7135 3.98953C56.1166 4.75908 56.3181 5.70111 56.3181 6.81564C56.3181 7.8771 56.0815 8.8324 55.6084 9.68156C55.1352 10.5307 54.4342 11.2207 53.5053 11.7514C53.3651 11.8399 53.2906 11.946 53.2819 12.0698C53.2731 12.1937 53.295 12.291 53.3476 12.3617L56.6599 18.412C56.7124 18.5182 56.7387 18.6155 56.7387 18.7039C56.7387 18.8454 56.6818 18.9693 56.5679 19.0754C56.4539 19.1816 56.3269 19.2346 56.1867 19.2346ZM51.2445 6.78911C51.2445 6.06378 51.0299 5.51094 50.6005 5.13059C50.1711 4.75023 49.6147 4.56006 48.9312 4.56006H44.4097C44.8478 4.56006 45.1983 4.71043 45.4612 5.01117C45.7241 5.31192 45.8555 5.63035 45.8555 5.96648V8.11592C45.8555 8.32821 45.93 8.51397 46.079 8.67318C46.2279 8.8324 46.4163 8.91201 46.6441 8.91201H48.9312C49.6147 8.91201 50.1711 8.73953 50.6005 8.39455C51.0299 8.04958 51.2445 7.51444 51.2445 6.78911ZM61.2398 18.5712V3.04749C61.2398 2.37523 61.4676 1.8224 61.9233 1.38897C62.379 0.955538 62.9135 0.738827 63.5269 0.738827H65.6299C65.8402 0.738827 65.9979 0.800744 66.1031 0.924581C66.2258 1.04842 66.2871 1.20763 66.2871 1.40223V18.5712C66.2871 18.7481 66.2258 18.8985 66.1031 19.0223C65.9979 19.1639 65.8402 19.2346 65.6299 19.2346H61.897C61.7218 19.2346 61.5684 19.1683 61.437 19.0356C61.3055 18.9029 61.2398 18.7481 61.2398 18.5712ZM74.4756 16.1116C74.4585 16.1091 74.4425 16.1064 74.4276 16.1034C74.4472 16.1066 74.4666 16.1104 74.4857 16.1147L74.4756 16.1116ZM74.4857 16.1147C74.775 16.1789 75.0141 16.352 75.2031 16.6341C75.4047 16.9348 75.4266 17.2886 75.2688 17.6955L74.9008 18.7039C74.7431 19.0931 74.4451 19.2877 74.007 19.2877H70.6159C70.4932 19.2877 70.3617 19.2346 70.2215 19.1285C70.1164 18.987 70.0638 18.8543 70.0638 18.7304C70.0638 18.6066 70.0726 18.527 70.0901 18.4916L76.1889 1.56145C76.3817 1.04841 76.7322 0.791899 77.2404 0.791899H81.3151C81.8233 0.791899 82.1738 1.04841 82.3666 1.56145L88.4654 18.4916C88.4829 18.527 88.4917 18.6066 88.4917 18.7304C88.4917 18.872 88.4347 19.0002 88.3208 19.1152C88.2069 19.2302 88.0798 19.2877 87.9396 19.2877H84.5485C84.1103 19.2877 83.8124 19.0931 83.6547 18.7039L82.2877 14.9623C81.6568 15.21 81.0171 15.4134 80.3687 15.5726C79.7203 15.7318 79.0937 15.8513 78.4891 15.9309C77.8845 16.0105 77.3193 16.0635 76.7935 16.0901C76.2678 16.1166 75.8121 16.1299 75.4266 16.1299H74.8088C74.6705 16.1299 74.5595 16.1238 74.4756 16.1116L74.4857 16.1147ZM76.8987 12.3352C77.3894 12.2998 77.8976 12.2379 78.4234 12.1494C78.8791 12.0787 79.3566 11.977 79.8561 11.8443C80.3556 11.7116 80.8331 11.5214 81.2888 11.2737L79.2646 5.43575L76.8987 12.3352ZM105.5 13.662C105.5 14.7412 105.25 15.6522 104.751 16.3953C104.251 17.1383 103.616 17.7398 102.845 18.1997C102.074 18.6597 101.215 18.9914 100.269 19.1948C99.3223 19.3983 98.4023 19.5 97.5085 19.5C96.6497 19.5 95.7603 19.4115 94.8402 19.2346C93.9201 19.0577 93.0746 18.7614 92.3034 18.3457C91.5323 17.9299 90.8883 17.3815 90.3713 16.7004C89.8543 16.0193 89.5695 15.1746 89.5169 14.1662C89.5169 14.007 89.5739 13.8743 89.6878 13.7682C89.8017 13.662 89.9375 13.6089 90.0952 13.6089H93.5915C93.6967 13.6089 93.7887 13.6178 93.8676 13.6355C93.9464 13.6532 94.0209 13.6797 94.091 13.7151C94.2137 13.7858 94.3627 13.9097 94.5379 14.0866C94.8183 14.6527 95.2345 15.0375 95.7866 15.2409C96.3386 15.4444 96.9126 15.5461 97.5085 15.5461C97.7713 15.5461 98.0736 15.5284 98.4154 15.493C98.7571 15.4576 99.0726 15.3825 99.3618 15.2675C99.6509 15.1525 99.9007 14.9844 100.111 14.7633C100.321 14.5421 100.426 14.2547 100.426 13.9008C100.426 13.4232 100.251 13.0782 99.9007 12.8659C99.5502 12.6536 99.1821 12.4856 98.7966 12.3617C98.4986 12.2556 98.1438 12.1539 97.7319 12.0566C97.3201 11.9593 96.8425 11.8575 96.2992 11.7514C95.493 11.5922 94.7132 11.3843 93.9596 11.1278C93.206 10.8713 92.5356 10.5307 91.9485 10.1061C91.3614 9.68156 90.8883 9.14642 90.529 8.5007C90.1697 7.85498 89.9901 7.06332 89.9901 6.1257C89.9901 4.95809 90.3099 3.95415 90.9496 3.11383C91.5893 2.27351 92.4261 1.63222 93.4601 1.18994C94.5817 0.729979 95.8698 0.5 97.3244 0.5C97.9028 0.5 98.503 0.548649 99.1252 0.64595C99.7473 0.74325 100.352 0.902466 100.939 1.1236C101.526 1.34474 102.074 1.63664 102.582 1.9993C103.09 2.36197 103.528 2.79981 103.896 3.31285C104.492 4.09125 104.817 4.87849 104.869 5.67458C104.869 5.81611 104.812 5.94879 104.698 6.07263C104.584 6.19646 104.457 6.25838 104.317 6.25838H100.637C100.269 6.25838 99.9795 6.09916 99.7692 5.78073C99.6641 5.40922 99.3924 5.09078 98.9543 4.82542C98.4811 4.57775 97.9378 4.45391 97.3244 4.45391C97.0616 4.45391 96.7943 4.4716 96.5227 4.50698C96.251 4.54237 96.0013 4.62197 95.7734 4.74581C95.5456 4.86965 95.3616 5.03329 95.2214 5.23673C95.0812 5.44018 95.0111 5.70112 95.0111 6.01955C95.0111 6.5149 95.274 6.91294 95.7997 7.21369C96.3255 7.49674 97.3069 7.78864 98.744 8.08939C99.5677 8.2486 100.387 8.43878 101.202 8.65992C102.017 8.88105 102.74 9.19506 103.371 9.60196C104.002 10.0088 104.514 10.5351 104.909 11.1809C105.303 11.8266 105.5 12.6536 105.5 13.662Z"
          fill="white"></path>
      </g>
      <defs>
        <clipPath id="clip0_201_148">
          <rect width="106" height="20" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </nav>
  <nav>
    <svg viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.5" width="57" height="58" rx="8" fill="#F9A505"></rect>
      <path
        d="M14.25 18.5812C14.25 17.6673 14.571 16.9133 15.2128 16.3193C15.8547 15.7252 16.6892 15.4282 17.7162 15.4282C18.7249 15.4282 19.541 15.7207 20.1646 16.3056C20.8065 16.9087 21.1274 17.6947 21.1274 18.6634C21.1274 19.5408 20.8156 20.2719 20.1921 20.8568C19.5502 21.46 18.7066 21.7616 17.6612 21.7616H17.6337C16.625 21.7616 15.8089 21.46 15.1853 20.8568C14.5618 20.2536 14.25 19.4951 14.25 18.5812ZM14.6076 42.5711V24.2565H20.7148V42.5711H14.6076ZM24.0985 42.5711H30.2056V32.3445C30.2056 31.7048 30.279 31.2113 30.4257 30.864C30.6824 30.2425 31.0722 29.717 31.5948 29.2875C32.1175 28.858 32.7732 28.6432 33.5618 28.6432C35.6158 28.6432 36.6429 30.0232 36.6429 32.7832V42.5711H42.75V32.0704C42.75 29.3652 42.1081 27.3135 40.8243 25.9152C39.5405 24.517 37.8441 23.8178 35.735 23.8178C33.3692 23.8178 31.5261 24.8323 30.2056 26.8611V26.916H30.1781L30.2056 26.8611V24.2565H24.0985C24.1351 24.8414 24.1535 26.66 24.1535 29.7125C24.1535 32.7649 24.1351 37.0511 24.0985 42.5711Z"
        fill="#2E0016"></path>
    </svg>
    <svg viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.5" width="57" height="58" rx="8" fill="#F9A505"></rect>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.25 29C14.25 23.3077 14.25 20.4615 15.6064 18.4115C16.2121 17.4961 16.9961 16.7121 17.9115 16.1064C19.9615 14.75 22.8077 14.75 28.5 14.75C34.1923 14.75 37.0385 14.75 39.0885 16.1064C40.0039 16.7121 40.7879 17.4961 41.3936 18.4115C42.75 20.4615 42.75 23.3077 42.75 29C42.75 34.6923 42.75 37.5385 41.3936 39.5885C40.7879 40.5039 40.0039 41.2879 39.0885 41.8936C37.0385 43.25 34.1923 43.25 28.5 43.25C22.8077 43.25 19.9615 43.25 17.9115 41.8936C16.9961 41.2879 16.2121 40.5039 15.6064 39.5885C14.25 37.5385 14.25 34.6923 14.25 29ZM35.8771 29.0004C35.8771 33.0748 32.5742 36.3778 28.4997 36.3778C24.4253 36.3778 21.1223 33.0748 21.1223 29.0004C21.1223 24.9259 24.4253 21.623 28.4997 21.623C32.5742 21.623 35.8771 24.9259 35.8771 29.0004ZM28.4997 33.8818C31.1957 33.8818 33.3812 31.6963 33.3812 29.0004C33.3812 26.3044 31.1957 24.1189 28.4997 24.1189C25.8038 24.1189 23.6183 26.3044 23.6183 29.0004C23.6183 31.6963 25.8038 33.8818 28.4997 33.8818ZM36.1685 22.9858C37.1259 22.9858 37.902 22.2097 37.902 21.2523C37.902 20.2949 37.1259 19.5188 36.1685 19.5188C35.2112 19.5188 34.4351 20.2949 34.4351 21.2523C34.4351 22.2097 35.2112 22.9858 36.1685 22.9858Z"
        fill="#2E0016"></path>
    </svg>
  </nav>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-around;
    padding-block: var(--size-9);
    margin-inline: auto;
  }
  svg {
    width: 100%;
    max-width: 100px;
  }
  nav {
    display: flex;
    gap: var(--size-5);
    height: 30px;
  }
</style>
