---
interface Props {
  Content: any;
  id?: string;
}
import Section from "./Section.astro";
import Heading from "./Heading.astro";
const { Content, id } = Astro.props;
---

<Section {id} elementType={id === "tagline" ? "hgroup" : "section"}>
  <Content components={{ p: Heading }} />
</Section>
