@import "open-props/media";
@import "./tagline.css";
@import "./proposition.css";
@import "./problem.css";

.content {
  max-inline-size: var(--size-lg);
  margin-inline: auto;
}

.blob {
  width: 100%;
}

.quote {
  p {
    padding-block: var(--size-9);
    color: var(--white, #fff);
    text-align: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-2);
    font-style: normal;
    font-weight: var(--font-weight-7);
    line-height: var(--font-lineheight-3);
    letter-spacing: var(--font-letterspacing-2);
  }

  @media (--sm-n-above) {
    p {
      padding-block: var(--size-12);
    }
  }
}
