#proposition {
  background-color: var(--sun);
  color: var(--curtains);

  > * {
    padding-inline: var(--size-7);
  }

  > section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--size-9);

    h2 {
      display: none;
    }

    h3 {
      display: block;
      order: 1;
      padding-block: var(--size-6);
      max-width: 100%;
      padding-inline: var(--size-6);
    }

    section {
      grid-column: span 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-inline-size: var(--size-xs);
      justify-self: center;
      text-align: center;
      padding: var(--size-5);
      padding-block: var(--size-5);
    }

    section p {
      order: 2;
    }

    @media (--md-n-above) {
      section {
        grid-column: span 2;
      }
    }
  }
}
