@import "open-props/media";
.bubble {
  position: relative;
  container-type: size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: var(--size-2);
  aspect-ratio: 1/1;
  color: var(--white);
  padding: var(--size-8);

  p,
  ul,
  li {
    font-size: var(--font-size-1);
    text-align: left;
  }

  strong {
    display: block;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-7);
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
  }

  ul {
    padding-block-start: var(--size-5);
  }

  @container (width > 300px) {
    padding-inline: var(--size-10);
    p,
    ul,
    li {
      font-size: var(--font-size-3);
    }
    strong {
      font-size: var(--font-size-5);
    }
  }
}

.bubbleless {
  position: relative;
  padding-inline: var(--size-6);
  color: var(--fire);
  margin-top: 100px;
  border-radius: 0;
  aspect-ratio: auto;

  p {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-7);
    padding-block: var(--size-10);
    margin-block-start: var(--size-3);
  }
}

.bubble1 {
  background-color: var(--purp);
}

.bubble2 {
  margin-top: -25px;
  background-color: var(--purp);
  margin-top: -50px;
}

.bubble3 {
  background-color: var(--fire);
  aspect-ratio: auto;
  border-radius: 100%/50%;
  aspect-ratio: 1/1.5;
  margin: 0;
  margin-top: 25px;
  padding-block: var(--size-11);

  @media (--sm-n-above) {
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
