---
import Base from "../layouts/base.astro";
import Dots from "../components/dots.astro";
---

<Base>
  <slot name="hero" />
  <section class="bubble bubble1">
    <Dots amount={1} />
    <slot name="one" />
  </section>
  <section class="bubble bubble2">
    <Dots amount={2} />
    <slot name="two" />
  </section>
  <section class="bubble bubble3">
    <Dots amount={3} />
    <slot name="three" />
  </section>
</Base>

<style>
  @import "open-props/media";
  .bubble {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    padding: var(--size-9);
    margin: var(--size-2);

    aspect-ratio: 1/1;
    :global(p) {
      font-size: var(--font-size-1);
      text-align: left;
      color: var(--white);
    }
    :global(ul, li) {
      color: var(--white);
    }
  }
  .bubble1 {
    background-color: var(--purp);
  }
  .bubble2 {
    background-color: var(--purp);
  }
  .bubble3 {
    background-color: var(--fire);
    aspect-ratio: auto;
    border-radius: 100%/50%;
    :global(p, ul, li) {
      font-size: var(--font-size-1);
    }
    @media (--md-n-above) {
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }
</style>
