---
interface Props {
  class: string;
  children: any;
}
const { class: className } = Astro.props;
---

<section class:list={[className]}><slot /></section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    overflow: hidden;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin-block-end: var(--size-9);
    max-inline-size: 330px;
  }

  section :global(a) {
    color: var(--white);
  }
  section :global(h3:first-child) {
    display: none;
  }
  section :global(img) {
    aspect-ratio: 1/1;
    transform: rotate(45deg);
    border: 24px solid var(--sun);
    border-radius: 110px;
    z-index: 10;
    margin-block-end: -100px;
  }

  section :global(h4) {
    display: block;
  }
</style>
